/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

/* VARIABLES */
:root {
  /* Typography */
  --h1-bold: 700 4.8rem/1.25 'Mulish', sans-serif;
  --h2-bold: 700 4rem/1.25 'Mulish', sans-serif;
  --h3-bold: 700 2.8rem/1.25 'Mulish', sans-serif;
  --lead-bold: 700 2.2rem/1.25 'Mulish', sans-serif;
  --body1-bold: 700 1.8rem/1.25 'Mulish', sans-serif;
  --body2-bold: 700 1.6rem/1.25 'Mulish', sans-serif;
  --caption-bold: 700 1.4rem/1.25 'Mulish', sans-serif;

  --body1-regular: 400 1.8rem/1.25 'Mulish', sans-serif;

  --h1-light: 300 4.8rem/1.25 'Mulish', sans-serif;
  --h2-light: 300 4rem/1.25 'Mulish', sans-serif;
  --h3-light: 300 2.8rem/1.25 'Mulish', sans-serif;
  --lead-light: 300 2.2rem/1.25 'Mulish', sans-serif;
  --body1-light: 300 1.8rem/1.25 'Mulish', sans-serif;
  --body2-light: 300 1.6rem/1.25 'Mulish', sans-serif;
  --caption-light: 300 1.4rem/1.25 'Mulish', sans-serif;

  /* Colors */
  --black: #0A0A0A;
  --black-2: #111111;
  --black-3: #222222;
  --gray: #A1B0BF;
  --white: #fff;
  --pink: #FF6074;
  --fuccia: #FE3051;

  /* Spacing 4pt*/
  /* 2/4/8/12/16/20/24/32/40/48/56/64/72 */
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  /* 1 rem = 10px (10px/16px = 0.625)*/
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--black);
}

/* ******************************* */
/* REUSABLE */
/* ******************************* */

/* Buttons */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-align: center;
  padding: 1.6rem 2rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  font: var(--body1-bold);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  opacity: 0.5;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background: linear-gradient(180deg, #FF6079 0%, #FE3051 100%);
}

.btn-secondary {
  background: var(--black-3);
}

/* Section-header */
.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  max-width: 84rem;
  width: 100%;
  text-align: center;
}

.section-header .section-title .light {
  font: var(--h2-light);
  color: var(--white);
}

.section-header .section-title .bold {
  font: var(--h2-bold);
  color: var(--fuccia);
}

.section-header .section-copy {
  font: var(--lead-light);
  color: var(--gray);
}

/* Icons */
.check-outline,
.arrow-right,
.heart {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--fuccia);
}

.menu-outline,
.pie-chart,
.calendar-outline,
.chatbox,
.share-social,
.logo-instagram,
.logo-linkedin,
.logo-facebook {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--white);
}



/* ******************************* */
/* NAVBAR */
/* ******************************* */
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.6rem 3.2rem;
  background-color: var(--black);
}

#navbar .container {
  max-width: 112rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .logo {
  font: var(--lead-bold);
  color: var(--white);
}

#navbar .nav-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

#navbar .nav-link:link,
#navbar .nav-link:visited {
  text-decoration: none;
  font: var(--body1-regular);
  color: var(--gray);
  transition: all 200ms ease-in-out;
}

#navbar .nav-link:hover,
#navbar .nav-link:active {
  color: var(--white);
}

/* #navbar .nav-link.current {
  font: var(--body1-bold);
  color: var(--white);
} */

#navbar .menu-outline {
  display: none;
}

/* ******************************* */
/* HERO */
/* ******************************* */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.4rem 3.2rem;
  background-color: var(--black);
}

#hero .container {
  max-width: 112rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

#hero .hero-left {
  max-width: 64rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

#hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#hero .hero-title .light {
  font: var(--h1-light);
  color: var(--white);
}

#hero .hero-title .bold {
  font: var(--h1-bold);
  color: var(--fuccia);
}

#hero .hero-copy {
  font: var(--lead-light);
  color: var(--gray);
}

#hero .hero-buttons {
  display: flex;
  gap: 2.4rem;
}

#hero .hero-img {
  width: 100%;
  object-fit: cover;
}

/* ******************************* */
/* PLANS */
/* ******************************* */
#plans {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.8rem 3.2rem;
  background-color: var(--black-2);
}

#plans .container {
  max-width: 112rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}

#plans .cards {
  width: 100%;
  display: flex;
  gap: 3.2rem;
}

/* Card */
#plans .card {
  max-width: 35.2rem;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--black);
  overflow: hidden;
}

#plans .card-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#plans .card-header {
  display: flex;
  flex-direction: column;
}

#plans .card-tag {
  font: var(--body1-bold);
  color: var(--fuccia);
}

#plans .card-title {
  font: var(--h2-bold);
  color: var(--white);
}

#plans .card-copy {
  font: var(--body1-light);
  color: var(--gray);
}

#plans .card-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0.4rem 0;
}

#plans .card-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#plans .card-item .text {
  font: var(--body1-light);
  color: var(--gray);
}

/* ******************************* */
/* SERVICES */
/* ******************************* */
#services {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.8rem 3.2rem;
  background-color: var(--black);
}

#services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
  max-width: 112rem;
  width: 100%;
}

#services .cards {
  display: flex;
  gap: 3.2rem;
  width: 100%;
}

/* Service Card */
#services .service-card {
  display: flex;
  padding: 2rem;
  border-radius: 2rem;
  max-width: 35.2rem;
  width: 100%;
  background-color: var(--black-2);
}

#services .service-card .service-card-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#services .service-card .card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #FF6079 0%, #FE3051 100%);
}

#services .service-card .card-title {
  font: var(--h3-bold);
  color: var(--white);
}

#services .service-card .card-copy {
  font: var(--body2-light);
  color: var(--gray);
}

#services .service-card .card-link:link,
#services .service-card .card-link:visited {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}

#services .service-card .card-link-text {
  font: var(--body1-bold);
  color: var(--fuccia);
}

/* ******************************* */
/* ARTICLES */
/* ******************************* */
#articles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.8rem 3.2rem;
  background-color: var(--black-2);
}

#articles .container {
  max-width: 112rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
}

#articles .cards {
  width: 100%;
  display: flex;
  gap: 3.2rem;
}

#articles .article-card {
  width: 100%;
  max-width: 35.2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  border-radius: 2rem;
  overflow: hidden;
}

#articles .article-img {
  width: 100%;
  height: 24rem;
}

#articles .article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#articles .card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

#articles .card-top {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#articles .card-date {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#articles .date-text {
  font: var(--body2-light);
  color: var(--gray);
}

#articles .card-title {
  font: var(--lead-bold);
  color: var(--white);
}

#articles .card-author {
  font: var(--body2-light);
  color: var(--gray);
}

#articles .card-statistics {
  display: flex;
  gap: 1.6rem;
}

#articles .statistic-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

#articles .statistic-text {
  font: var(--body2-light);
  color: var(--white);
}

/* ******************************* */
/* CALL TO ACTION */
/* ******************************* */
#cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12.8rem 3.2rem;
  background-color: var(--black);
}

#cta .form-group {
  max-width: 112rem;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: var(--black-2);
}

#cta .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

#cta .content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#cta .form-title {
  font: var(--h2-bold);
  color: var(--white);
}

#cta .form-copy {
  font: var(--body1-light);
  color: var(--gray);
}

#cta .form {
  display: flex;
  gap: 1.6rem;
}

#cta .form-input {
  width: 100%;
  display: inline-block;
  border-radius: 0.6rem;
  padding: 1.6rem 2rem;
  background-color: var(--black-3);
  font: var(--body1-light);
  color: var(--white);
  outline: none;
  border: none;
}

#cta .form-input::placeholder {
  font: var(--body1-light);
  color: var(--gray);
}

/* ******************************* */
/* FOOTER */
/* ******************************* */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  background-color: var(--black-2);
}

#footer .container {
  max-width: 112rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .footer-title .bold {
  font: var(--body1-bold);
  color: var(--white);
}

#footer .footer-title .fuccia {
  color: var(--fuccia);
}

#footer .footer-title .light {
  font: var(--body1-light);
  color: var(--white);
}

#footer .footer-rrss {
  display: flex;
  gap: 1.6rem;
  align-items: flex-end;
}

#footer .footer-rrss .text {
  font: var(--body1-light);
  color: var(--white);
}