/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');

/* VARIABLES */
:root {
  --dark-x: #0A0A0A;
  --dark-xx: #111111;
  --light: #FFFFFF;
  --muted: #A1B0BF;
  --primary-x: #FF6074;
  --primary-xx: #FE3051;
  --primary-xxx: #222222;

  --h1-bold: 700 4.6rem/1.25 'Mulish', sans-serif;
  --h2-bold: 700 4rem/1.25 'Mulish', sans-serif;
  --h3-bold: 700 2.6rem/1.25 'Mulish', sans-serif;
  --lead-bold: 700 2.2rem/1.25 'Mulish', sans-serif;
  --body1-bold: 700 1.8rem/1.25 'Mulish', sans-serif;
  --body2-bold: 700 1.6rem/1.25 'Mulish', sans-serif;

  --h1-light: 300 4.6rem/1.25 'Mulish', sans-serif;
  --h2-light: 300 4rem/1.25 'Mulish', sans-serif;
  --h3-light: 300 2.6rem/1.25 'Mulish', sans-serif;
  --lead-light: 300 2.2rem/1.25 'Mulish', sans-serif;
  --body1-light: 300 1.8rem/1.25 'Mulish', sans-serif;
  --body2-light: 300 1.6rem/1.25 'Mulish', sans-serif;

  --max-width: 124rem;

  /* 
  - Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 */
  font-size: 62.5%;
}

/* GENERALES */
body {
  font-family: 'Mulish', sans-serif;
  line-height: 1;
  font-weight: 300;
  color: var(--muted);
}

a {
  text-decoration: none;
  color: var(--muted);
}

/* UTILITIES */
.heading-primary {
  font: var(--h1-light);
  color: var(--light);
  margin-bottom: 1.2rem;
}

.heading-primary span {
  font: var(--h1-bold);
  color: var(--primary-xx);
}

.lead {
  font: var(--lead-light);
  margin-bottom: 4.8rem;
}

.btn,
.btn:link,
.btn:visited {
  font: var(--body1-bold);
  color: var(--light);
  display: inline-block;
  padding: 1.6rem 2.4rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary:link,
.btn-primary:visited {
  background: linear-gradient(var(--primary-x), var(--primary-xx));
}

.btn-secondary:link,
.btn-secondary:visited {
  background: var(--primary-xxx);
}

.btn-primary:hover,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:active {
  opacity: 0.9;
}

.btn-disabled:link,
.btn-disabled:visited {
  background: gray;
}

.btn-disabled:hover,
.btn-disabled:active {
  opacity: 1;
  cursor: default;
}

.text-center {
  text-align: center;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 8rem;
}

.page-title h2 {
  font: var(--h2-light);
  color: var(--light);
}

.page-title h2 span {
  font-weight: 700;
  color: var(--primary-xx);
}

.page-title p {
  font: var(--lead-light);
  max-width: 75rem;
  text-align: center;
}

/* NAVBAR */
#navbar {
  background-color: var(--dark-x);
}

.navbar-content {
  max-width: 124rem;
  height: 10rem;
  margin: auto;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content .logo {
  font: var(--lead-bold);
  color: var(--light);
}

.navbar-content .menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar-content .menu-item {
  padding: 1.6rem 2.4rem;
}

.navbar-content .menu-item a {
  font: var(--body1-light);
  transition: all 200ms ease-in;
}

.navbar-content .menu-item a:hover {
  color: var(--light);
}

.navbar-content .menu-item a.current {
  font-weight: 700;
  color: var(--light);
}

/* SHOWCASE */
#showcase {
  height: 80rem;
  background: var(--dark-x);
  overflow: hidden;
}

#showcase .container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#showcase .content-left {
  max-width: 60rem;
}

#showcase .buttons {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
}

#showcase .technologies {
  list-style-type: none;
  display: flex;
  gap: 3.2rem;
}

#showcase .technologies li {
  font: var(--body1-light);
  color: var(--light);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#showcase .tech-icon {
  height: 3rem;
  width: 3rem;
  color: var(--primary-x);
}

#showcase .content-right {
  max-width: 58rem;
}

#showcase .content-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* PLANS */
#plans {
  height: 80rem;
  background: var(--dark-xx);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#plans .container {
  max-width: var(--max-width);
  margin: auto;
}

#plans .cards {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

#plans .card {
  width: 35rem;
  border-radius: 2rem;
  background: var(--dark-x);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.4rem;
}

#plans .card-tag {
  font: var(--body1-bold);
  color: var(--primary-xx);
}

#plans .card-title {
  font: var(--h2-bold);
  color: var(--light);
}

#plans .card-copy {
  font: var(--body1-light);
}

#plans .card-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.6rem 0;
}

#plans .card-list li {
  font: var(--body1-light);
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#plans .check-icon {
  height: 2rem;
  width: 2rem;
  color: var(--primary-x);
}

/* SERVICES */
#services {
  height: 80rem;
  background: var(--dark-x);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#services .container {
  max-width: var(--max-width);
  margin: auto;
}

#services .cards {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

#services .card {
  width: 35rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: 2rem;
  background-color: var(--dark-xx);
}

#services .card-icon {
  width: 6rem;
  height: 6rem;
  background-color: var(--primary-xx);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#services .service-icon {
  width: 3rem;
  height: 3rem;
  color: var(--light);
}

#services .card-title {
  font: var(--h3-bold);
  color: var(--light);
}

#services .card-copy {
  font: var(--body2-light);
  text-align: justify;
  margin-bottom: 1.6rem;
}

#services .card-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

#services .card-link:hover {
  opacity: 0.9;
}

#services .card-link span {
  font: var(--body1-bold);
  color: var(--primary-xx);
}

#services .arrow-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--primary-xx);
}

/* ARTICLES */
#articles {
  height: 80rem;
  background: var(--dark-xx);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#articles .container {
  max-width: var(--max-width);
  /* width: 100%; */
  margin: auto;
}

#articles .cards {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

#articles .card {
  width: 35rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  background-color: var(--dark-x);
  overflow: hidden;
  cursor: pointer;
}

#articles .card-image {
  width: 35rem;
  height: 25rem;
}

#articles .card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#articles .card-content {
  padding: 2.4rem;
}

#articles .card-date {
  display: flex;
  align-items: flex-end;
  gap: 1.2rem;
  font: var(--body2-light);
  margin-bottom: 0.4rem;
}

#articles .calendar-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--light);
}

#articles .card-title {
  font: var(--lead-bold);
  color: var(--light);
  margin-bottom: 0.4rem;
}

#articles .card-author {
  font: var(--body2-light);
  margin-bottom: 2.4rem;
}

#articles .card-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
}

#articles .hearts,
#articles .comments,
#articles .shares {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--light);
  font: var(--body2-light);
}

#articles .heart-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--primary-x);
}

#articles .chatbox-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--light);
}

#articles .share-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--light);
}

/* CONTACT */
#contact {
  height: 50rem;
  background: var(--dark-x);
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact form {
  max-width: 105rem;
  width: 100%;
  background: var(--dark-xx);
  border-radius: 2rem;
  padding: 6.4rem 4.8rem;
}

#contact .form-title {
  font: var(--h2-bold);
  color: var(--light);
  margin-bottom: 0.8rem;
}

#contact .form-copy {
  font: var(--body1-light);
  margin-bottom: 4.8rem;
}

#contact .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

#contact .form-group input[type="text"] {
  width: 100%;
  padding: 1.6rem 2.4rem;
  background-color: var(--primary-xxx);
  font: var(--body1-light);
  color: var(--light);
  border-radius: 0.6rem;
  border: none;
  outline: none;
}

#contact .form-group input[type="text"]::placeholder {
  font: var(--body1-light);
  color: var(--muted);
}

#contact .form-group input[type="text"]:focus,
#contact .form-group input[type="text"]:active {
  outline: none;
}

#contact .form-group input[type="submit"] {
  border: none;
}

/* FOOTER */
#main-footer {
  background: var(--dark-xx);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-footer .container {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-footer .author p {
  font: var(--body1-bold);
  color: var(--light);
}

#main-footer .author p .primary {
  color: var(--primary-xx);
}

#main-footer .author p .light {
  font: var(--body1-light);
}

#main-footer .social {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#main-footer .social p {
  font: var(--body1-light);
  color: var(--light);
}

#main-footer .social-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--light);
  cursor: pointer;
}